%h1 Stocks

%table.table.table-striped.datatable#stocks-list
  %thead
    %tr
      %th Name
      %th Symbol
      %th Price
      %th Market cap (in millions)
      %th Last Trade Date
      %th 50-day Moving Average
      %th Change from 50-day Moving Average
      %th Previous Change from 50-day Moving Average
      %th 50-day Moving Average Inversion
      %th 200-day Moving Average
      %th Change from 200-day Moving Average
      %th Previous Change from 200-day Moving Average
      %th 200-day Moving Average Inversion
      %th Yahoo!

  %tbody
    - @stocks.each do |stock|
      %tr
        %td= stock.name
        %td= link_to stock.symbol, stock
        %td= stock.price
        %td= stock.market_cap
        %td= stock.last_trade_date
        %td= stock.fiftyday_moving_average
        %td= stock.change_from_fiftyday_moving_average
        %td= stock.previous_change_from_fiftyday_moving_average
        %td= stock.fiftyday_moving_average_inversion
        %td= stock.two_hundredday_moving_average
        %td= stock.change_from_two_hundredday_moving_average
        %td= stock.previous_change_from_two_hundredday_moving_average
        %td= stock.two_hundredday_moving_average_inversion
        %td= link_to 'Yahoo', "http://finance.yahoo.com/q?s=#{stock.symbol}", target: '_blank'

%br

= link_to 'New Stock', new_stock_path, class: 'btn btn-primary'
