-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Yahoo! Finance', 'http:///finance.yahoo.com'
        %li= link_to 'Google Finance', 'http:///finance.google.com'
        %li= link_to '50-day inverted', stocks_path(inverted: '50')
        %li= link_to '200-day inverted', stocks_path(inverted: '200')
